.survey-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.survey-header {
  display: flex;
  align-items: center;
}

.survey-layout-container {
  padding: 0px 48px;
  flex: 1 0 auto;
  overflow-y: "auto";
}

.breadcrumb {
  margin: 16px 0px;
}

.survey-layout-container > div {
  background: white;
  min-height: 280px;
  padding: 50px;
  border-radius: 8px;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.survey-layout > footer {
  text-align: center;
}

